ARTICLE_API_APP_ENV=
ARTICLE_API_APP_SECRET=
ARTICLE_API_APP_API_PRIVATE_KEY=
ARTICLE_API_APP_API_PUBLIC_KEY=
ARTICLE_API_APP_VERSION=
ARTICLE_API_APP_CORS_DOMAIN=

# WEBSERVER
ARTICLE_API_WEBSERVER_LISTEN_ADDRESS=
ARTICLE_API_WEBSERVER_MAX_CONNECTION=
ARTICLE_API_WEBSERVER_READ_TIMEOUT=
ARTICLE_API_WEBSERVER_WRITE_TIMEOUT=
ARTICLE_API_WEBSERVER_GRACEFUL_TIMEOUT=

# DB
ARTICLE_API_DB_DIALECT=
ARTICLE_API_DB_HOST= 
ARTICLE_API_DB_USER=
ARTICLE_API_DB_PASSWORD=
ARTICLE_API_DB_NAME=
ARTICLE_API_DB_PORT=
ARTICLE_API_DB_SSL_MODE=
ARTICLE_API_DB_MAX_CONNECTION=
ARTICLE_API_DB_MAX_IDLE_CONNECTION=
ARTICLE_API_DB_MAX_LIFETIME_CONNECTION=

# REDIS
ARTICLE_API_REDIS_HOST=
ARTICLE_API_REDIS_PORT=
ARTICLE_API_REDIS_PASSWORD=